#card
{
    border-radius: 20px;
    background-color:#ebe99b;
    color:#000;
    font-family: 'Poppins', sans-serif;
}

#card:hover
{
    color:#fff;
    background-color: black;
    
}
#image
{
    border-radius: 60%;
    border-width: 20px;
}