/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap'); */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-image: url(../src/containers/image.jpg);
}

h1{
  color: white;
}